.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-color{
  background-color: #000C66;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.h6:before {
  content: "\22EE";
}

.card{
  width:350px;
  height:100px;
  margin-left: 300px;
  border-radius: 20 px;
  
}


.card:hover {
  background-color: #183444;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color:white
}

.dabutton:focus {
  background-color:yellow;
}